DB_URL=
DB_USERNAME=
DB_PASSWORD=

REDIS_SERVICE_HOST=
REDIS_SERVICE_PORT=
REDIS_AUTH_HOST=
REDIS_AUTH_PORT=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_RELAY_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

CORS_ALLOWED_ORIGINS=
JWT_SECRET_KEY=

OPEN_DATA_PORTAL_BASE_URL=
OPEN_DATA_PORTAL_API_KEY=
